<div class="row">
	<div class="col-md-12" style="padding: 30px;">
		<h4>Upload any videos, pictures, voice recordings, obituary, written documents, life history, life accomplishments, and any other information or links you may have for your loved one.</h4>
	</div>
</div>
<div class="container-fluid clearfix">
	<div style="position: fixed; text-align: center; top: -5px; z-index: 5000; display: block;" ng-if="ShowPageMessage">
		<div id="pageErrorDiv" style="margin: 0px; left: 150px; position: relative;">
			<growl-notifications>
				<growl-notification ng-if="ShowPageMessage">
					{{Message}}
				</growl-notification>
			</growl-notifications>
		</div>
	</div>
	<uib-tabset active="activeForm">
		<uib-tab index="0">
			<uib-tab-heading>
				<span data-i18n="_ProfileDetail_DetailTabTitleText_"></span>
			</uib-tab-heading>
			<div id="input-form">
				<div class="row">
					<div class="col-md-12">
						<ul id="errors">
							<li id="info" data-i18n="_ProblemsWithFormSubmission_"></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label for="firstName" data-i18n="_ProfileDetail_FirstNameLabel_"><span class="required">*</span></label>
						<input type="text" id="firstName" name="firstName" value="" placeholder="John" required="required" autofocus="autofocus" data-ng-model="model.FirstName" />
					</div>
					<div class="col-md-2">
						<label for="lastName" data-i18n="_ProfileDetail_MiddleNameLabel_"><span class="required">*</span></label>
						<input type="text" id="middleName" name="middleName" value="" placeholder="Doe" required="required" autofocus="autofocus" data-ng-model="model.MiddleName" />
					</div>
					<div class="col-md-2">
						<label for="lastName" data-i18n="_ProfileDetail_LastNameLabel_"><span class="required">*</span></label>
						<input type="text" id="lastName" name="lastName" value="" placeholder="Doe" required="required" autofocus="autofocus" data-ng-model="model.LastName" />
					</div>
					<div class="col-md-2">
						<label for="sex" data-i18n="_ProfileDetail_GenderLabel_"></label>
						<select id="sex" name="sex" data-ng-model="model.Sex">
							<option value="M" data-i18n="_ProfileDetail_GenderMaleLabel_"></option>
							<option value="F" data-i18n="_ProfileDetail_GenderFemaleLabel_"></option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label data-i18n="_ProfileDetail_DobLabel_"></label>
						<input type="date" data-ng-model="model.Birthday" placeholder="yyyy-MM-dd" style="width:150px" />
					</div>
					<div class="col-md-2">
						<label data-i18n="_ProfileDetail_DodLabel_"></label>
						<input type="date" data-ng-model="model.DateOfDeath" placeholder="yyyy-MM-dd" style="width:150px" />
					</div>
					<div class="col-md-8">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="obituary" data-i18n="_ProfileDetail_ObituaryLabel_"><span class="required">*</span></label>
						<textarea id="obituary" name="obituary" value="" placeholder="" required="required" data-ng-model="model.Obituary"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="history" data-i18n="_ProfileDetail_LifeHistoryLabel_"></label>
						<textarea id="history" name="history" data-ng-model="model.LifeHistory"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<label data-i18n="_ProfileDetail_LinksLabel_"></label>
						<div id="links" class="table">
							<div data-ng-hide="model.Links.length > 0">
								<p data-i18n="_ProfileDetail_NoLinksLabel_"></p>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-repeat="link in model.Links" class="link row" data-ng-hide="model.Links.length == 0">
					<div class="col-xs-8 col-md-4">
						<label data-i18n="_ProfileDetail_LinksLabelLabel_"></label>
						<input type="text" class="col_1" data-ng-model="link.Label" placeholder="Favorite page" />
					</div>
					<div class="col-xs-11 col-md-7">
						<label data-i18n="_ProfileDetail_LinksUrlLabel_"></label>
						<input type="url" class="col_2" data-ng-model="link.Url" placeholder="http://embracingthememories.com" />
					</div>
					<div class="col-xs-1">
						<button type="button" style="width:24px; padding: 0;" data-ng-click="deleteLink(link)">
							<img src="~/Content/Images/remove.png" class="img-rounded" style="padding: 0; margin: 0;" />
						</button>
					</div>
					<div class="col-xs-12 hidden-md">
						<hr />
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button data-ng-click="addLink()" data-i18n="_ProfileDetail_AddLinkButtonText_"></button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div data-ng-hide="!showSaveComplete" data-i18n="_ProfileDetail_ProfileSavedSuccessfullyText_"></div>
						<button id="submit-button" style="margin-top:10px;width:180px" data-ng-click="saveProfile()" data-i18n="_Edit_ProfileDetail_SaveButtonText_"></button><span id="loading" data-ng-show="RequestInProgress"></span>
						<p id="req-field-desc"><span class="required">*</span> <span data-i18n="_RequiredFieldsLabel_"></span></p>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1">
			<uib-tab-heading>
				<span data-i18n="_ProfileDetail_PhotosTabTitleText_"></span>
			</uib-tab-heading>
			<div class="row groupBox">
				<div class="col-md-3 col-xs-12">
					<label for="master-photo" data-i18n="_ProfileDetail_MasterPhotoLabel_"></label>
					<div data-ng-hide="model.Photos.length > 0">
						<div style="float:left; margin-right: .5em">
							<button style="position: relative;overflow: hidden;">
								<span data-i18n="_ProfileDetail_UploadMasterPhotoLabel_"></span>
								<input type="file" name="files[]" file-model="model.newPhoto" accept=".jpg,.png" ngf-select="uploadPhoto($files)" />
							</button>
						</div>
					</div>
					<div data-ng-show="model.Photos.length > 0" class="photo">
						<img src="" class="img-rounded pull-xs-left" data-ng-src="/api/Photos/Content/{{model.Photos[0].Id}}" style="width:150px;" />
					</div>
				</div>
				<div class="col-md-9 col-xs-12">
					<label data-i18n="_ProfileDetail_AllPhotosLabel_"></label>
					<div id="photos" class="table">
						<div data-ng-hide="model.Photos.length > 0">
							<p data-i18n="_ProfileDetail_NoPhotosAddedText_"></p>
						</div>
						<div data-ng-repeat="photo in model.Photos" class="photo pull-xs-left" style="position: relative; display: inline-block;">
							<img src="" class="img-rounded" data-ng-src="/api/Photos/Content/{{photo.Id}}" />
							<button type="button" style="position: absolute; vertical-align: top; text-align: right; top: 10px; right: 20px; width:24px;padding:0;" data-ng-click="deletePhoto(photo.Id)">
								<img src="~/Content/Images/remove.png" class="img-rounded" style="padding: 0; margin: 0;" />
							</button>
						</div>
					</div>
					<div style="margin-bottom:4px;">
						<div style="float:left; margin-right: .5em">
							<button style="position: relative;overflow: hidden;" data-ng-disabled="model.Photos.length === 0">
								<span data-i18n="_ProfileDetail_UploadNewPhotoButtonText_"></span>
								<input type="file" name="files[]" multiple file-model="model.newPhoto" data-ng-disabled="model.Photos.length === 0" accept=".jpg,.png" />
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row groupBox">
				<div class="col-md-3 col-xs-12">
					<label for="master-audio-file" data-i18n="_ProfileDetail_MasterAudioFileLabel_"></label>
					<div data-ng-hide="model.AudioFiles.length > 0">
						<div style="float:left; margin-right: .5em">
							<button style="position: relative;overflow: hidden;">
								<span data-i18n="_ProfileDetail_UploadMasterAudioFileButtonText_"></span>
								<input type="file" name="files[]" file-model="model.audioFile" accept=".mp3" />
							</button>
						</div>
					</div>
					<div data-ng-show="model.AudioFiles.length > 0" class="photo">
						<audio controls src="" data-ng-src="{{model.AudioFiles[0].Url}}">
							<span data-i18n="_ProfileDetail_AudioPluginNotSupportedByBrowserText_"></span>
						</audio>
					</div>
				</div>
				<div class="col-md-9 col-xs-12">
					<label data-i18n="_ProfileDetail_AllAudioFilesLabel_"></label>
					<div id="photos" class="table">
						<div data-ng-hide="model.AudioFiles.length > 0">
							<p data-i18n="_ProfileDetail_NoFilesAddedText_"></p>
						</div>
						<div data-ng-repeat="audioFile in model.AudioFiles" class="photo pull-xs-left" style="position: relative; display: inline-block;">
							<audio controls src="" data-ng-src="{{audioFile.Url}}">
								<span data-i18n="_ProfileDetail_AudioPluginNotSupportedByBrowserText_"></span>
							</audio>
							<button type="button" style="position: absolute; vertical-align: top; text-align: right; top: 0; right: -15px; width:24px; padding:0;" data-ng-click="deleteAudioFile(audioFile.Id)">
								<img src="~/Content/Images/remove.png" class="img-rounded" style="padding: 0; margin: 0;" />
							</button>
						</div>
					</div>
					<div style="margin-bottom:4px;">
						<div style="float:left; margin-right: .5em">
							<button style="position: relative;overflow: hidden;" data-ng-disabled="model.AudioFiles.length === 0">
								<span data-i18n="_ProfileDetail_UploadNewAudioFileButtonText_"></span>
								<input type="file" name="files[]" multiple file-model="model.audioFile" data-ng-disabled="model.AudioFiles.length === 0" accept="audio/*" />
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row groupBox">
				<div class="col-md-12">
					<label data-i18n="_ProfileDetail_AllVideosLabel_"></label>
					<div id="photos" class="table">
						<div data-ng-hide="model.Videos.length > 0">
							<p data-i18n="_ProfileDetail_NoVideoFilesText_"></p>
						</div>
						<div data-ng-repeat="videoFile in model.Videos" class="photo pull-xs-left" style="position: relative; display: inline-block;">

							<iframe ng-src="{{videoFile.Url}}" width="320" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							<button type="button" style="position: absolute; vertical-align: top; text-align: right; top: 0; right: -15px; width:24px; padding:0;" data-ng-click="deleteVideo(videoFile.Id)">
								<img src="~/Content/Images/remove.png" class="img-rounded" style="padding: 0; margin: 0;" />
							</button>
						</div>
					</div>
					<div style="margin-bottom:4px;">
						<div style="float:left; margin-right: .5em">
							<button style="position: relative;overflow: hidden;">
								<span data-i18n="_ProfileDetail_UploadNewVideoFileButtonText_"></span>
								<input type="file" name="files[]" multiple file-model="model.videoFile" accept="video/mp4,video/x-m4v,video/*" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>

	</uib-tabset>
</div>