@model System.String
@{
    ViewBag.Title = "Error";
    ViewBag.ShowUnsubscribe = false;
    Layout = "~/Views/Email/EmailLayout.cshtml";
}

<div style="margin-top: 50px; margin-bottom: 50px;">
    An error has occured; see details below.

    @(new HtmlString( Model ))
</div>
