@model System.String
@{
    ViewBag.Title = "PasswordResetConfirmation";
    Layout = "~/Views/Email/EmailLayout.cshtml";
}


<div style="margin-top: 50px; margin-bottom: 50px;">
    Your password has been changed successfully.  If you did not perform this action, we recommend that you reset your password immediately <a href="@(ViewBag.BaseUrl)Account/ForgotPassword">here</a>.
</div>