@model System.String
@{
    ViewBag.Title = "Registration";
    ViewBag.ShowUnsubscribe = false;
    Layout = "~/Views/Email/EmailLayout.cshtml";
}

<div style="margin-top: 50px; margin-bottom: 50px;">
    <h2>Registration</h2>
    @(new HtmlString( Model ))
</div>
