
@{
    ViewBag.Title = "About Me";
}
<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div style="text-align:justify;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3"><img src="~/Content/Images/jason_profile.png" /></div>
            <div class="col-xs-12 col-md-8">
                <p>My name is Jason Beckes.  The reason I founded Embracing Memories was on the purpose of clarity and understanding.  When I lost my brother, I was devastated. He was my mentor, my best friend, my roommate, my co-worker, and my brother.  I was confused to say the least. We didn't take a lot of pictures back then. There were no smart phones or social media like there is today. As the years pass, it's harder and harder to hold onto those mental pictures and images of him. I only wish we took pictures and videos back then like we do today. But that's okay because I now know how to harness those memories with anyone else in my life who may make it into heaven's gates before me.</p>
                <p>You see, funerals, and the way we mourn, have been the same for thousands of years. With today's new technologies and devises, we can make change. Millions of pictures and videos being taken every day. Entire life histories being recorded in a digital form. Why not Embrace these new leaps and bounds with technology and apply it to the mourning and memory of those who pass before us. The one you love will forever have their stamp. Everyone who they touched in life and everyone who loved them will always have a place to go to remember, and to be happy, or to just be sad on the bad days.</p>
            </div>
        </div>
    </div>
</div>