<!--<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
</div>-->
<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/logo.png" alt="" style="width:100%" />
    </div>
</div>
<div class="row" style="padding-top:1em; text-align: justify">
    <div class="col-md-4">
        <h2 class="sectionHeader" data-i18n="_Home_OurPurposeTitle_"></h2>
        <p data-i18n="_Home_OurPurposeText1_"></p>
        <p data-i18n="_Home_OurPurposeText2_"></p>
    </div>
    <div class="col-md-4">
        <h2 class="sectionHeader" data-i18n="_Home_QrCodesTitle_"></h2>
        <p data-i18n="_Home_QrCodesText_"></p>
        <p style="text-align:center">
            <img src="~/Content/Images/QRExample-both.png" style="margin-left: .5em;" />
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="sectionHeader" data-i18n="_Home_RegistrationTitle_"></h2>
        <p data-i18n="_Home_RegistrationText_"></p>
    </div>
    <div class="col-md-4">
        <h2 class="sectionHeader" data-i18n="_Home_DeliveryTitle_"></h2>
        <p data-i18n="_Home_DeliveryText1_"></p>
        <p data-i18n="_Home_DeliveryText2_"></p>
    </div>
</div>
