@{
    Page.Title = "Password Reset";
}

<div id="input-form">
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>Use the form below to reset your password.</h2>
    </hgroup>

    <p class="message-success" ng-hide="!IsSuccess">
        Password changed! Click <a href="~/Account/Login" title="Log in">here</a> to log in.
    </p>

    <div class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">Old Password</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="OldPassword" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" ng-model="Password" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" ng-model="PasswordConfirmation" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" ng-click="completePasswordResetProcess()">Complete Password Reset</button>
        </div>
    </div>
</div>