@{
	ViewBag.Title = "Forget Your Password";
}

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div id="input-form" class="row" data-ng-controller="changePasswordController">
			<h4>Start password reset process.</h4>
			<hr />
			<div class="col-md-12" style="margin-bottom:20px">
				We will send password reset instructions to the email address associated with your account.
			</div>

			<div class="col-md-12 message-success" ng-hide="!IsSuccess" style="margin-bottom:20px">
				Instructions to reset your password have been sent to the specified email address.
			</div>

			<div class="col-md-2">
				<label>Email</label>
			</div>
			<div class="col-md-5">
				<input type="text" ng-model="model.EmailAddress" />
			</div>
			<div class="col-md-5">
				<button class="btn btn-default" ng-click="beginResetPasswordProcess()">Send instructions</button>
			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<script src="~/AngularApp/Account/SetPasswordViewModel.js"></script>
}
@section JsCode
{
	siteModule.value('keys', { Code: '@ViewBag.Code',
	EmailAddress: '@ViewBag.EmailAddress'
	});
	siteModule.controller('changePasswordController', ['$scope','authService', 'keys', Account.ChangePasswordViewModel]);
}
