@{
    Page.Title = "Set Password";
}

<div id="input-form" class="container-fluid" ng-controller="changePasswordController">
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>Use the form below to set your password.</h2>
    </hgroup>

    <p class="message-success" ng-hide="!IsSuccess">
        Password set! Click <a href="~/Account/Login" title="Log in">here</a> to log in.
    </p>

    <div class="text-danger">
        <ul>
            <li id="errorMessages" class="text-danger" data-ng-repeat="error in Errors">{{error}}</li>
        </ul>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" ng-model="model.Password" />
        </div>
    </div>
    <div class="row">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" class="form-control" ng-model="model.PasswordConfirmation" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" ng-click="completePasswordResetProcess()">Set Password</button>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/AngularApp/Account/SetPasswordViewModel.js"></script>
}
@section JsCode
{
    siteModule.value('keys', { Code: '@ViewBag.Code',
            EmailAddress: '@ViewBag.EmailAddress'
    });
    siteModule.controller('changePasswordController', ['$scope','authService', 'keys', Account.ChangePasswordViewModel]);
}